<app-home-layout>
  <!-- <ul> -->
  <!-- < Angular 17 -->
  <!--     <ng-container *ngFor="let product of products">
      <li *ngIf="!product.discontinued; else discontinuedElse">
        {{ product.name }} - {{ product.price }}
      </li>
      <ng-template #discontinuedElse>
        <li>{{ product.name }} discontinued.</li>
      </ng-template>
    </ng-container> -->

  <!-- >= Angular 17 -->
  <!-- @for(product of products; track product.name) {
      @if(!product.discontinued) {
        <li>{{ product.name }} - {{ product.price }}</li>
      }
      @else {
    <li>{{ product.name }} discontinued.</li>
      }
    }
  </ul> -->
  <app-brand-list-group
    (selectBrand)="onSelectBrand($event)"
  ></app-brand-list-group>
</app-home-layout>
